/*Bloco de Reset de Estilo*/

body {
  padding: 0;
  margin: 0;
}

ol, ul {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 20px;
}

h1 {
  margin-top: 10px;
}

h5 {
  margin: 0;
}

p {
  margin: 20px;
}

.row {
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.lead {
  margin: 20px;
}

#topo{
  padding: 50px;
}

/* Show it is fixed to the top */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  font-family: "Comfortaa", sans-serif;
  min-height: 75rem;
  padding-top: 4.5rem;
  position: relative;
  background: radial-gradient(circle, rgba(255,65,65,1) 0%, rgba(89,0,231,1) 100%);
}

#img-logo {
  width: 80px;
}

.navbar {
  background-image: linear-gradient(to left bottom, #2a0537, #3c045a, #4a0681, #520fad, #501edc);
  padding-left: 5%;
  padding-right: 5%;
}

.nav-link {
  margin-left: 20px;
  font-size: 20px;
}

main p {
  text-align: justify;
}

#sobre {
  background-image: url("../img/img-sobre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

#contato {
  border-radius: 0 0 10px 10px;
  text-align: center;
  background-color: #190a36;
}

#contato p {
  text-align: center;
}

#contato h4 {
  text-decoration-line: underline;
}

#sobre-texto {
  background-color: #2b115ada;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sobre-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#carrosel-text {
  padding: 10px;
  background-color: #2b115ada;
  border-radius: 15px;
}

#topo ul li {
  background-color: #190a36bd;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

#topo ul li:hover {
  background-color: #ff3e3e;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

#form-linha {
  margin: 10px;
}

#form-linha input {
  height: 40px;
}

footer {
  background-color: white;
}

@media(max-width: 992px) {
  #sobre-img {
    margin-top: 25px;
    align-items: center;
  }
  #sobre-img img {
    width: 75%;
  }
  #sobre-texto {
    flex: 1;
  }
  #sobre{
    padding: 0;
  }
  #img-logo{
  width: 80px;
  margin-left: -25px;
  }
  .img-fluid{
    width: 200px;
    margin-left: -20px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

#lista-topo{
  margin-bottom: 30px;
}

#topo{
  padding: 0;
}

  h2 {
    font-size: 16px;
  }
}